<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>{{ pageTitle }}</h1>
  <form action="">
    <label>
      Some
      <input type="text" required>
    </label>
    <label>
      Form
      <input type="text">
    </label>
    <br>
    <br>
    <div>
      <button>Send</button>
    </div>
  </form>
  <script src="script.js"></script>
</body>
</html>
